.error-area {
    // background-color: #f8ac59;
    background-color: #f5f5f5;
    color: #999;
    padding: 6px 8px;
    margin-bottom: 20px;
    border: 1px solid #f1f1f1;
    border-left: 5px solid #ddd;
}

.paging {
    text-align: right;
}

.paging .paging-info {
    font-weight: normal;
    margin-right: 10px;
}

.paging .input-sm {
    width: 80px;
    display: inline-block;
}

.display-inline {
    display: inline-block;
}
.display-tc {
    display: table-cell;
}
.input-md {
    width: 300px;
}

.mr5 {
    margin-right: 5px;
}

.borderw {
    border-color: #fff;
}

.mr10 {
    margin-right: 10px;
}

.mt10 {
    margin-top: 10px;
}

.mb10 {
    margin-bottom: 10px!important;
}

.tlc {
    text-align: center;
}

.sm-modal {
    top: 20%;
}

.sm-modal .modal-body {
    padding: 30px 20px 20px 20px;
}

.error {
    color: #D2832B;
}

.form-group dt,
.form-group dd {
    line-height: 34px;
}

.lh34 {
    line-height: 34px;
}

.wd100 {
    width: 100px;
}

.wd200 {
    width: 200px;
}

select {
    font-weight: normal;
}

.m15 {
    margin: 15px 0;
}

.jstree-open > .jstree-anchor > .fa-folder:before {
    content: "\f07c";
}

.jstree-default .jstree-icon.none {
    width: 0;
}

.tlr {
    text-align: right;
}

.token-input-list-facebook {
    display: inline-block;
}

.tag-content label {
    line-height: 30px;
    margin: 3px;
}

.label-remove {
    margin: 5px;
}

.label-white {
    font-weight: normal;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: .25em;
    color: #666;
    cursor: pointer;
}

.label-white:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
}

.label-remove i {
    padding-left: 6px;
    cursor: pointer;
}

.well {
    overflow: hidden;
}

.label-remove i:hover {
    color: #ccc;
}

.bggray {
    background-color: #f6f6f6;
}

.vlt {
    vertical-align: top;
}

.displayIT {
    display: inline-table;
}

.input-daterange input:last-child,
.input-daterange input:first-child {
    border-radius: 0;
}

.input-daterange input {
    height: 34px;
}

.input-daterange .input-group-addon {
    padding: 6px 7.5px;
}

.lh34 {
    line-height: 34px;
}

.tab-days span {
    padding: 0 5px;
    cursor: pointer;
}

.tab-days span:hover,
.tab-days span.active {
    color: #ca4440;
}

.mt6 {
    margin-top: 6px;
}

.area-overflow {
    overflow-y: auto;
    max-height: 500px;
}
.wp25 {
    width: 25%;
}
.tc-space {
    width: 10px;
}
.like-btn {
    cursor: pointer;
}
.like-btn:hover {
    background-color: #e7eaec;
}

.table-active tr.active td{
    background-color: #1ab394!important;
    color: #fff;
    border-color: #1ab394!important;
}
.tlr {
    text-align: right;
}

.form-group-define dt,
.form-group-define dd{
    line-height: 34px;
}